#tip_container {
  background-color: hsl(183, 100%, 15%);
  height: 2.5rem;
  width: 7rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

#tip_container p {
  color: hsl(0, 100%, 100%);
  font-size: 1.2rem;
}

#tip_container:hover {
  background-color: hsla(172, 67%, 45%, 0.6);
}

#tip_container:hover p {
  color: hsl(183, 100%, 15%);
}

#tip_container.selected {
  background-color: hsl(172, 67%, 45%);
}

#tip_container.selected p {
  color: hsl(183, 100%, 15%);
  font-weight: 700;
}
